<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">

    <div nz-col class="gutter-row" [nzSpan]="24">
        <div class="card-panel">
            <h3 class="card-title">Example Card</h3>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="card-panel">
            <h3 class="card-title">Example Card</h3>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="card-panel">
            <h3 class="card-title">Example Card</h3>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="16">
        <div class="card-panel">
            <h3 class="card-title">Example Card</h3>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="card-panel">
            <h3 class="card-title">Example Card</h3>
        </div>
    </div>

</div>




