
.full-page{
  height: 100%;
  display: flex;
  /* background-color: rgb(199, 199, 199) */
  /* background-image: url('../../../assets/img/login.svg'); */
  /* background-attachment: fixed; */
}

.login-form {
  max-width: 333px;
  margin: auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
    