<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null"
              [nzTheme]="'dark'">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
      <ul nz-menu nzMode="inline" [nzTheme]="'dark'" [nzInlineCollapsed]="isCollapsed">

        <li nz-menu-item>
          <a [routerLink]="'/welcome'" routerLinkActive="active">
            <i nz-icon nzType="dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li nz-menu-item>
          <a [routerLink]="'/usuarios'" routerLinkActive="active">
            <i nz-icon nzType="usergroup-delete"></i>
            <span>Usuarios</span>
          </a>
        </li>

        <nz-divider></nz-divider>

        <li nz-submenu nzTitle="Configuración" nzIcon="setting">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Cambiar Contraseña</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['usuarios/cambiar-imagen/' + currentUser.id]" routerLinkActive="active">Cambiar Imagen de perfil</a>
            </li>
          </ul>
        </li>

        <li nz-menu-item nz-popconfirm nzPopconfirmTitle="¿Desea Cerrar Sesión?" nzPopconfirmPlacement="rightBottom" (nzOnConfirm)="logout()">
          <i nz-icon nzType="poweroff"></i>
          <span>Cerrar Sesión</span>
        </li>

      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </nz-content>
  </nz-layout>
</nz-layout>

